/* 全局滚动条宽度 */
::-webkit-scrollbar {
  width: 4px;   /* 垂直滚动条宽度 */
  height: 4px;  /* 水平滚动条高度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f5f5f5;
  /* border-radius: 4px; */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4c84ff, #2c5cc5);
  border-radius: 4px;
}

/* 滑块悬停效果 */
::-webkit-scrollbar-thumb:hover {
  background: #2c5cc5;
}